# Nuxt dev/build outputs
.output
.data
.nuxt
.nitro
.cache
dist

# Node dependencies
node_modules

# Logs
logs
*.log

# Misc
.DS_Store
.fleet
.idea

# Local env files
.env
.env.*
!.env.example
node_modules/
components/ComparePlans.vue
components/Footer.vue
components/Login.vue
components/mavbar.vue
components/Reklam.vue
components/Slider.vue
components/topMenu.vue
components/buttonSlider.vue
